Abg==2.3.1
pymongo
motor
requests
dnspython
tgcrypto==1.2.2
asyncio
python-dotenv
pycgi
apscheduler
Flask
pyrogram
psutil
speedtest-cli
telethon
uvloop==0.22.1 
git+https://github.com/LonamiWebs/Telethon.git
