Abg==2.3.1
pymongo
motor
requests
dnspython
tgcrypto==1.2.2
asyncio
python-dotenv
pycgi
apscheduler
Flask
pyrogram==2.0.106
tgcrypto==1.2.5
psutil
speedtest-cli
telethon
git+https://github.com/LonamiWebs/Telethon.git
